@import '~bootstrap/scss/bootstrap';

$primary: #1890ff;

.navbar-dark {
  background: #001529;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #f9fbfd;
}

.content {
  background: #fff;
  margin-top: 64px;
  padding: 24px;
  min-height: 280px;
}

.nav-item.active {
  border-bottom: 3px solid #1890ff;
  padding-bottom: 5px;
  margin-bottom: -8px;
}

.header {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #e3ebf6;
  margin-bottom: 2rem;
}

h1 {
  color: #001529;
  font-size: 1.625rem;
}

h4 {
  color: #001529;
  font-size: .9375rem;
  letter-spacing: -.02em;
  font-weight: 700;
}

.header-title {
  letter-spacing: -.02em;
  font-weight: 700;
}

.header-pretitle {
  font-size: .625rem;
  letter-spacing: .08em;
  text-transform: uppercase;
  color: #95aac9;
  font-weight: 700;
}

.header-title {
  margin-bottom: 0;
}

.card {
  margin-bottom: 1.5rem;
  border-color: #edf2f9;
  box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
}

.card-header {
  margin-bottom: 0;
  padding: 1rem 1.5rem;
  color: inherit;
  border-bottom: 1px solid #edf2f9;
  background-color: transparent;
}

.card-header h4 {
  margin: 0;
}
