@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/root';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/tables';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/card';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/utilities';
@import 'variables';
@import 'card';
@import 'form';
@import 'header';
@import 'navbar';

body {
  font-family: 'Open Sans', sans-serif;
  background: $grey-light;
}

h1, h2, h3, h4, h5, h6 {
  color: $dark;
  letter-spacing: -.02em;
  font-weight: 700;
}

h1 {
  font-size: 1.625rem;
}

h2 {
  font-size: 1.125rem;
}

h3 {
  font-size: 1.0625rem;
}

h4 {
  font-size: .9375rem;
}

h5 {
  font-size: .8125rem;
}

h6 {
  font-size: .625rem;
}

p {
  color: $dark;
}

hr {
  border-color: $grey;
}

.content {
  background: #fff;
  margin-top: 64px;
  padding: 24px;
  min-height: 280px;
}
